<%- include('includes/head.ejs')%>
<%- include('includes/nav.ejs')%>
<h2 style="text-align: center;"><%=subTitle%></h2>
<main class="container">
  
  <% if(Anns.length>0) {%>
    <%for(let ann of Anns) {%>
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" >
    <div class="col-lg-8 px-0" >
      <h1 class="display-5 fst-italic" style="text-transform: uppercase;"><%=ann.subject%></h1> <p class="lead my-3 col-4" style=" font-family:Arial, Helvetica, sans-serif; font-style: italic;"><%=ann.sDate%> - <%=ann.fDate%></p>
      <p class="lead my-3" ><%=ann.text%></p> 
  <a class="btn btn-dark rounded-pill"  href="/duyuru_duzenle/<%=ann._id%>"> Düzenle</a>

    </div>
  </div>

  <%}%>

<%} else {%>
    <div style="text-align: center;"><br><br><br><h1>DUYURU BULUNMAMAKTADIR!</h1></div>
<%}%>

</main>

<%- include('includes/foot.ejs')%>
