<%- include ('includes/head.ejs') %>
<%- include('includes/nav.ejs')%>
<body>
    
    <h2 style="text-align: center;"><%=subTitle%></h2>
    <%if(Authorized){%>
<main class="form-signin w-100 m-auto">
    
<form action="/guncel/<%=Ann._id%>" method="post">

    <div class="form-floating">
    <input type="text" class="form-control" name="subj" id="konu" placeholder="Konu" value="<%=Ann.subject%>" >
    <label for="konu">Duyuru Konusu</label>
    </div>
     <div class="form-floating"> 
        <textarea class="form-control" name="ann" id="metin" placeholder="Metin" style="align-self: center;  height: 300px;"><%=Ann.text%></textarea>
        <label for="metin">Duyuru Metni</label>
     </div>
    <button class="btn btn-primary rounded-pill w-100 px-3" type="submit" name="kaydet">Düzenle</button>
    
</form>

</main>
<%} else {%>  <div style="text-align: center;"><h1>DUYURU DÜZENLEMEK İÇİN SİTEYE ÜYE OLMANIZ GEREKMEKTEDİR.</h1></div> <%}%>
<%-include('includes/foot.ejs')%>